@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global styles or a specific file */
@keyframes glowing {
    0% {
        text-shadow: 0 0 6px #ff6347, 0 0 12px #ff6347, 0 0 18px #ff4500, 0 0 24px #ff4500;
    }

    50% {
        text-shadow: 0 0 6px #ffa500, 0 0 12px #ffa500, 0 0 18px #ff8c00, 0 0 24px #ff8c00;
    }

    100% {
        text-shadow: 0 0 6px #ff6347, 0 0 12px #ff6347, 0 0 18px #ff4500, 0 0 24px #ff4500;
    }
}

.glow-text {
    animation: glowing 2s infinite ease-in-out;
}

@keyframes glow {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0 0 12px #c316a2, 0 0 20px #fbbf24;
    }

    50% {
        opacity: 0.8;
        box-shadow: 0 0 20px #fbbf24, 0 0 30px #c316a2;
    }
}

.animate-glow {
    animation: glow 2s infinite ease-in-out;
}


@layer utilities {
    .bg-glow-gradient {
        background: linear-gradient(270deg,
                #1707f0,
                #ffb700,
                #ff000088,
                #f804cc);
        background-size: 100% 100%;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes glowFlicker {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0 0 12px #c316a2, 0 0 24px #fbbf24;
    }

    45% {
        opacity: 0.85;
        box-shadow: 0 0 36px #fbbf24, 0 0 62px #c316a2;
    }

    50% {
        opacity: 0.6;
        box-shadow: 0 0 100px #fbbf24;
    }

    55% {
        opacity: 0.9;
        box-shadow: 0 0 100px #c316a2;
    }
}

.animate-gradientMove {
    animation: gradientMove 3s ease infinite;
}

.animate-glowFlicker {
    animation: glowFlicker 2.5s ease-in-out infinite;
}